{% extends "base_generic.html" %}

{% block content %}
    <div class="chat_list">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
        <p>If you have not an account yet - you may register
        <a href="{% url 'register' %}">
          <button type="submit">
              Register
          </button>
        </a>
        </p>
        <a href="{% url 'forgot_password' %}">Forgot your password?</a>
    </div>

{% endblock %}