{% extends 'base_generic.html' %}

{% block content %}
  <h1>My Chats</h1>
  <ul>
    {% for chat in chats %}
        {% if chat.hidden == False %}
      <li>
        <a href="{% url 'chat_detail' chat.id %}">
            <h4>
                {{ chat.name }}
            </h4>
        </a>
        <form method="post" action="{% url 'hide_chat' chat.id %}">
          {% csrf_token %}
          <button type="submit">Hide</button>
        </form>
      </li>
        {% endif %}
    {% endfor %}
  </ul>
  <a href="{% url 'create_chat' %}">Create new chat</a>
{% endblock %}
