body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: start;

}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
blockquote {
    border-width: medium;
    border-color: #4f4f4f;
    border-radius: 4px;
    background-color: #e8e8e8;
    width: fit-content;
    padding: 8px;
}
.credentials-text {
    color: #4f4f4f;
    font-style: italic;
}
a{
    color: #999999;
    text-decoration-line: underline;
}
.messagelist {
    border-width: medium;
    border-color: #4f4f4f;
    border-radius: 16px;
    background-color: #e8e8e8;
    width: fit-content;
    padding: 8px;
    margin: 4px;
}

.messagelist_inc {
    border-width: medium;
    border-color: #4f4f4f;
    border-radius: 16px;
    background-color: #b9f39d;
    width: fit-content;
    padding: 8px;
    margin: 4px;
}

.messageform {
    border-width: medium;
    border-color: #4f4f4f;
    border-radius: 5px;
    /*background-color: #e8e8e8;*/
    padding: 4px;
    margin: 4px;
    width: fit-content;
}
.messages {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.messages li.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.messages li.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.messages li.warning {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.messages li.info {
    background-color: #9ec7e5;
    border-color: #d0e9c6;
    color: #2f79ff;
}

.chat_view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.chat_name {
    flex: 0 0 auto;
    text-align: center;
}

.chat_body {
    display: flex;
    flex: 1;
    gap: 20px;
}

.chat_messages {
    flex: 3;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.chat_participants {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}


.send_message_div {
    flex: 0 0 auto;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.send_message_form {
    width: 80%;
    margin: 16px;
    border-radius: 16px;
    height: auto;
    text-align: left;
    font-size: 20px;
    padding: 16px;

}

.actions {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.online-user {
    color: green;
}
.offline-user {
    color: gray;
}