{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Messenger{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>My Messenger</h1>
        <nav>
            <a>

                    {% if user.is_authenticated %}
                      <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
                        <li><a href="{% url 'chat_list' %}">Chats</a></li>
                        <li><a href="{% url 'hidden_chats' %}">Hidden</a></li>

                    {% else %}
{#                      <p>You are not logged in. <a href="{% url 'login' %}?redirect_to={{ request.path }}">Login</a></p>#}
                        <p>You are not logged in. </p>

                    {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Messenger</p>
    </footer>
</body>
</html>
