{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Messenger{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>My Messenger</h1>
        <nav>
            <ul>
                <li><a href="{% url 'chat_list' %}">Chats</a></li>
                {% if user.is_authenticated %}
                    <li><h2> {{ user.username }} </h2></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
{#                    <p>logout</p>#}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
{#                    <p>login</p>#}
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Messenger</p>
    </footer>
</body>
</html>
