{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>  .random-color-text {color: {{ random_color }}} </style>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}
        {% if user.is_authenticated %}
            {{ user.username }} | Messenger
{#            <a href="{% url 'logout' %}">Logout</a>#}
        {% else %}
            Messenger | Login Page
        {% endif %}


    {% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Messenger</h1>
        <nav>
            <p>
                    {% if user.is_authenticated %}
                      <p>
                          Welcome, <a href="{% url 'user_profile' pk=user.pk %}">{{ user.username }}</a>
                          | <a href="{% url 'logout' %}">Logout</a>
                      </p>
                        <li><a href="{% url 'chat_list' %}">
                            Chats
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hidden_chats' %}">
                                Hidden
                            </a>
                        </li>

                    {% else %}
                        <p>You are not logged in. </p>
                    {% endif %}
        </nav>
    </header>
    <main>
        {% block messages %}
            {% if messages %}
                <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class="random-color-text">&copy; 2024 My Messenger</p>
    </footer>
</body>
</html>
