{% extends "base_generic.html" %}
{% load static %}
{% load custom_tags %}
{#{% block messages %}#}
{#    <h1>History</h1>#}
{#{% endblock %}#}
{% block content %}
    <div class="user_profile-main">
        <div class="user_profile-main-menu">
            <h2>Menu</h2>
                <a href="{% url 'hidden_chats' %}" class="block_link">Hidden chats</a>
                <a href="{% url 'chat_list' %}" class="block_link">Back to Chat List</a>
        </div>
        <!-- /.menu -->
    <div class="user-messages-container">
                <div class="user-profile-head">
        <h2>{{ user_profile.username }}'s Profile</h2>
        <p>Email: {{ user_profile.email }}</p>
        <p>First Name: {{ user_profile.first_name }}</p>
        <p>Last Name: {{ user_profile.last_name }}</p>
    </div>
    <!-- /.user-profile-head -->
        <div class="user_profile-send-private-message">
        <h2>Send a Private Message</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send</button>
            </form>
    </div>
    <!-- /.send-private-message -->
        <div class="user_profile-messages">
            {% if request.user == user_profile %}
            <div class="incoming-messages">
                <h2>Incoming Messages</h2>
                <ul>
                    {% for message in received_messages %}
                        <li class="messagelist_inc">
                            <strong>From {{ message.sender.username }}:</strong>
                            <p>{{ message.content }}</p>
                            <small>{{ message.created_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <!-- /.incoming_messages -->
            <div class="outcoming-messages">
                <h2>Sent Messages</h2>
                    <ul>
                        {% for message in sent_messages %}
                            <li class="messagelist">
                                <strong>To {{ message.recipient.username }}:</strong>
                                <p>{{ message.content }}</p>
                                <small>{{ message.created_at }}</small>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            <!-- /.outcoming-messages -->
        {% else %}
                <div class="outcoming-messages">
                    <h2>Sent Messages</h2>
                    <ul>
                        {% for message in sent_messages %}
                            <li class="messagelist">
                                <strong>To {{ message.recipient.username }}:</strong>
                                <p>{{ message.content }}</p>
                                <small>{{ message.created_at }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}
    </div>
    </div>
    <!-- /.user-messages-container -->
        <div class="user_profile-chat_participants">
        {% include "messenger_app/user_status.html" %}
    </div>
    </div>
    <!-- /.main -->


{% endblock %}